/vcpkg_installed
/obj
/compile_flags.txt
client.exe
client
client_rel.exe
client_rel
client_deb.exe
client_deb
/shaders/compiled
/code.cpp
/src/svec.hpp
/tasklist.txt
/gcm.cache
/today.txt
/benchmarks
/todo.txt
/box2d.txt
/temp.txt