/vcpkg_installed
/obj
/compile_flags.txt
client.exe
client
client_rel.exe
client_rel
client_deb.exe
client_deb
/shaders/compiled
/code.cpp
/src/svec.hpp
/tasklist.txt
/gcm.cache
/today.txt
/benchmarks
/todo.txt
/box2d.txt
/temp.txt
/a*.txt
/client_crz.exe
/gmon.out
/imgui.ini
/box2d/lib
/box2d/obj
/todo.md
/how i render ROUNDS.txt
/src/algo.hpp
/slmb.txt
/src/data_structures/ecs.hpp
/shaders/radial_temp.frag
/shaders/radial_wavy.frag
/shaders/radial_seg.frag
/shaders/radial_sticks.frag
/readme_content/cb.gif
/readme_content/cb.png